
@{
    ViewBag.Title = "Index";
}
<body style="color: white;">
    <h2>Welcome @Session["Email"]</h2>
    <h4>In this application we will dealing with donations:</h4>
    <p>Here is our Donations we can provide for you:</p>
    <ul>
        <li><a href="">Monetary Donations</a></li>
        <li><a href="">Good Donations</a></li>
        <li><a href="">Dister</a></li>
    </ul>
</body>


